<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='contact-us.css') }}">
  <!-- <link rel="stylesheet" type="text/css" href="contact-us.css" title="style" />  -->
</head>

<body>
  <header><h1>Contact Us</h1></header>
  <nav class="navbar" style="position: absolute;">
    <div class="title"><a href="homepage.html">Na<span>m</span>e</a></div>
    <ul class="navtools">
      <li class="nav-item base first"><a href="calorie-calculator.html">Calorie Calculator</a></li>
      <li class="nav-item"><a href="menu.html">Menu</a></li>
      <li class="nav-item"><a href="cmenu.html">Customized Menu</a></li>
      <li class="nav-item last"><a href="ffc.html">Fitness Projection</a></li>
    </ul>
  </nav>
  <div class="egg"><img src="{{ url_for('static', filename='media/egg-svgrepo-com (1).svg') }}" alt="egg"></div>
  <div>
    <form id="login">
      <p>Drop your email id</p>        
        <div>
            <label for="username"></label>
            <input type="text" id="username" placeholder="enter" required>
        </div>
        <p>Report the problem</p>
        <div>
            <label for="password"></label>
            <input type="password" id="password" placeholder="enter" required>
        </div>
  
        <button type="submit">SUBMIT</button>
        
    </form>
  </div>
</body>

</html>