<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="wrapper">
        <form action="">
            <div class="input_box">
                <input type="text" placeholder="" required>
            </div>
            <div class="input_box">
                <input type="text" placeholder="" required>
            </div>
            <div class="input_box">
                <input type="text" placeholder="" required>
            </div>
            <div class="input_box">
                <input type="text" placeholder="" required>
            </div>
            
            </form>
      
    </div>
</body>
</html>