<!DOCTYPE html>
<html lang="En">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>**</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}" /> 
</head>
<body>
<!--<header><h1>Project Name</h1></header>add project's name later-->
<nav class="navbar" style="position: absolute;">
  <div class="title"><a href="homepage.html">Na<span>m</span>e</a></div>
  <ul class="navtools">
    <li class="nav-item base first"><a href="homepage.html">Home</a></li>
    <li class="nav-item"><a href="Features.html">Features</a></li>
    <li class="nav-item"><a href="vision.html">Mission</a></li>
    <li class="nav-item"><a href="team.html">Meet the Team</a></li>
    <li class="nav-item last"><a href="contact-us.html">Contact Us</a></li>
  </ul>
</nav>
<div class="egg"><img src="egg-svgrepo-com (1).svg" alt="egg"></div>
<div>
  <form id="login">
      <h1>Hook Quote</h1>

      <div>
        <label for="MailID"></label>
        <input type="text" id="MailId" placeholder="Email Address" required>
      </div>
      
      <div>
          <label for="username"></label>
          <input type="text" id="username" placeholder="username" required>
      </div>
      
      <div>
          <label for="password"></label>
          <input type="password" id="password" placeholder="password" required>
      </div>

      <button type="submit">REGISTER</button>
      
      <p>Already a member?</p>

      <div><a href="login.html">Log In</a></div>
  </form>
</div>
</body>
</html>
