<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meet our team members!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='team.css') }}" />
</head>
<body>
    <div class="wrapper">
            </div>
            <!-- <img src="" alt="harleen">
            <img src="" alt="yashna">
            <img src="" alt="krishiv">
            <h1>MEET OUR TEAM</h1>
            <ol><li>Harleen Kaur Brar</li> -->
            <!-- <h3>Yashna Garg</h3> -->
            <!-- <h3>Krishiv Panchal</h3></ol> -->
            <p>Work in Progress</p>
            </form>
    </div>
</body>
</html>