<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="vision.css" title="style"/>
</head>
<body>
    <nav class="navbar" style="position: absolute;">
        <div class="title"><a href="homepage.html">Na<span>m</span>e</a></div>
        <ul class="navtools">
          <li class="nav-item base first"><a href="homepage.html">Home</a></li>
          <li class="nav-item"><a href="Features.html">Features</a></li>
          <li class="nav-item"><a href="vision.html">Mission</a></li>
          <li class="nav-item"><a href="team.html">Meet the Team</a></li>
          <li class="nav-item last"><a href="contact-us.html">Contact Us</a></li>
        </ul>
      </nav>
    <div class="egg"><img src="egg-svgrepo-com (1).svg" alt="egg"></div>
    <div class="wrapper">
        <form action="">
            <h1>OUR VISION</h1>
            <P>
                At NutriNow, our vision is to empower individuals, especially students, to take charge of their health and wellness through smarter, more personalized meal and fitness planning. We recognize the challenges of maintaining a balanced diet and fitness routine amidst the demands of college life. Our platform simplifies healthy living by enabling users to plan, track, and visualize their progress in a way that fits seamlessly into their daily routines.
                
                We're here to support long-term health goals with tools that make meal customization, calorie tracking, and exercise planning straightforward and enjoyable. By offering predictive insights, we aim to foster healthier habits that last, helping our users reach their goals—whether it’s staying fit, achieving a specific physique, or simply maintaining balanced nutrition.
            </P>
            </form>
      
    </div>
</body>
</html>